@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
}

header{
  font-family: 'Passion One', cursive, sans-serif;
  color: white;
  background-color: black;
  padding: 20px 0;
}

header h1{
  font-size: 3em;
  font-variant: small-caps;
}

header p{
  font-family: 'Sriracha', cursive;
}

header a{
  font-family: 'Passion One', cursive, sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

section{
  text-align: start;
  padding: 35px 25px;
  font-size: 1.5em;
  font-family: 'Sriracha', cursive;
  line-height: 2.7em;
}

#tela-1,
#tela-5,
#tela-3{
  background-color: rgb(224, 220, 182);
}

#tela-2{
  background-image: url('../imagens/background001.jpg');
  color: white;
}
#tela-4{
  background-image: url('../imagens/background002.jpg');
}
#tela-2,
#tela-4{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#bg-text{
  background-color: rgba(211, 211, 211, 0.664);
  display: inline-block;
  padding: 5px;
  margin: -5px;
}

footer,
header{
  text-align: center;
}

footer{
  background-color: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

footer a{
  color: #FBAE29;
  text-decoration: none;
}